tensorflow==2.3.1
mujoco-py<2.1,>=2.0
gym[all]==0.15.4
git+https://github.com/rlworkgroup/metaworld.git@2f228c261c9592dca1f3b8b89fd633d045862af0#egg=metaworld
git+https://gitlab.com/awarelab/mrunner.git
psutil
cloudpickle==1.2.1
ipython
joblib
matplotlib==3.1.1
numpy
pandas
pytest
scipy
seaborn==0.8.1
tqdm
lockfile
msgpack<2.0.0,>=0.6.0
